<footer class="coney-bg">
  <div style="text-align: center;" class="container">
    <div class="row">
      <div class="col-lg-6">
        <a href="/#/contacts">Contact Us</a>
        <br> Coney Beach, Porthcawl
      </div>
      <div class="col-lg-6 big-item">
        <fb-like  showFaces="false" share="true" layout="button" href="https://www.facebook.com/ConeyBeachPorthcawl/"></fb-like>
      </div>
      <div class="col-lg-6 small-item">
        <fb-like  colorscheme="light" share="true" href="https://www.facebook.com/ConeyBeachPorthcawl/"></fb-like>
      </div>
    </div>
  </div>
</footer>