/* FOOTER */
footer {
  position:relative;
      left: 0%;
    bottom: 0%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  width:100%;
color: white;
    background: repeating-linear-gradient(
  135deg,
  #606dbc,
  #606dbc 2px,
  #465298 2px,
  #465298 40px
);
border-top-style: solid;
    border-width: medium; 
    border-color:rgba(0, 0, 0, 0.5);
}

footer p {
  margin-bottom: .25rem;
  color:white;
}
footer a{
  color: white;
  font-style: italic;
}