<hr class="featurette-divider">
<div class="container marketing desktop-item">
    <!--LAYOUT FOR DESKTOP-->
    <div *ngFor="let program of programsConstants.Programs; let i=index" class="row featurette">
        <div *ngIf="i%2==1" class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" [src]="program.imageUrl" alt="Generic placeholder image">
        </div>
        <div *ngIf="i%2==1" class="col-md-7">
            <h2 class="featurette-heading">{{program.title}}
            </h2>
            <p class="lead">{{program.body}}
            </p>
            <hr>
        </div>
        <div *ngIf="i%2==0" class="col-md-7">
            <h2 class="featurette-heading">{{program.title}}
            </h2>
            <p class="lead">{{program.body}}
            </p>
            <hr>
        </div>
        <div *ngIf="i%2==0" class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" [src]="program.imageUrl" alt="Generic placeholder image">
        </div>
    </div>
</div>
<!--LAYOUT FOR MOBILE-->
<div class="container marketing mobile-item">
    <div *ngFor="let program of programs; let i=index" class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{program.title}}
            </h2>
            <p class="lead">{{program.body}}
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" [src]="program.imageUrl" alt="Generic placeholder image">
        </div>
        <hr>
    </div>
</div>
<hr class="featurette-divider">
