.card-body {
    border-style: groove;
    border-width: 1px;
}

.card-header {
    background-color: #757fc2;
    text-align: center;
}

h4 {
    color: white;
}

.events {
    background-color: #757fc2;
    color: white;
}

.events-body {
    border-style: groove;
    border-width: 1px;
    text-align: center;
}

h1 {
    text-align: center;
}
