<div class="container">
    <hr class="featurette-divider">
    <div class="row">
        <!--FACEBOOK PLUGIN-->
        <div style="text-align: center;" class="col-lg-8 desktop-item">
            <fb-page height="500" width="500" tabs="timeline" href="https://www.facebook.com/ConeyBeachPorthcawl/"></fb-page>
        </div>
        <div style="text-align: center;" class="col-lg-8 mobile-item">
            <fb-page height="500" width="288" tabs="timeline" href="https://www.facebook.com/ConeyBeachPorthcawl/"></fb-page>
        </div>

        <div class="col-lg-4">
            <br> {{newsConstants.editableTextPlaceHolder}}
        </div>
    </div>
    <hr class="featurette-divider">
</div>
