<div class="album py-5">
    <div class="container">
        <div class="row row-eq-height">
            <!--ITEMS-->
            <div *ngFor="let ride of ridesPricesConstants.Rides" class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" [src]="ride.imageUrl" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items">
                            <i>
                                <b>{{ride.title}}</b>
                            </i>
                            <small class="text-muted">Price {{ride.price}}£</small>
                        </div>
                        <p class="card-text">{{ride.body}}</p>
                    </div>
                </div>
            </div>

            <!--LAST ITEM-->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="assets/img/rides/more.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items">
                        </div>
                        <b><p class="card-text" style="text-align:center;">And More!</p></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
