<div class="container">
    <hr class="featurette-divider">
    <div style="text-align: center;">
        <h1>THIS WEEK</h1>
        <small class="text-secondary">
            <i>Week {{openingTimesConstants.currentWeek}}
                <br>Last updated at {{openingTimesConstants.LastUpdatedWeek}}</i>
        </small>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <ng-container *ngFor="let openingTime of openingTimesConstants.OpeningTimes; let openingTimeIndex = index">
            <div *ngIf="isLastOpeningTimeElement(openingTimeIndex)" class="col-md-4"></div>
            <div class="col-md-4">
                <app-opening-time [openingTime]="openingTime"></app-opening-time>
            </div>
        </ng-container>
    </div>
